.PlotToolbar {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 30px;
    height: 470px;
    background-color: #2f3843;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

    .PlotToolbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .PlotToolbar li {
        list-style: none;
        height: 26px;
        line-height: 26px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        color: #b4b7ca;
        text-align: center;
        vertical-align: bottom;
    }

        .PlotToolbar li span {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin: -3px 0px 0px 0px;
            padding: 0;
            margin: 5px 0px 0px 0px\9;
            Cursor: pointer;
        }

    .PlotToolbar #arc span {
        background: url(../images/arc.png) no-repeat;
    }

    .PlotToolbar #curve span {
        background: url(../images/curve.png) no-repeat;
    }

    .PlotToolbar #circle span {
        background: url(../images/circle.png) no-repeat;
    }

    .PlotToolbar #ellipse span {
        background: url(../images/ellipse.png) no-repeat;
    }

    .PlotToolbar #lune span {
        background: url(../images/lune.png) no-repeat;
    }

    .PlotToolbar #sector span {
        background: url(../images/sector.png) no-repeat;
    }

    .PlotToolbar #closedcurve span {
        background: url(../images/closedcurve.png) no-repeat;
    }

    .PlotToolbar #gatheringplace span {
        background: url(../images/gatheringplace.png) no-repeat;
    }

    .PlotToolbar #doublearrow span {
        background: url(../images/doublearrow.png) no-repeat;
    }

    .PlotToolbar #straightarrow span {
        background: url(../images/straightarrow.png) no-repeat;
    }

    .PlotToolbar #finearrow span {
        background: url(../images/finearrow.png) no-repeat;
    }

    .PlotToolbar #assaultdirection span {
        background: url(../images/assaultdirection.png) no-repeat;
    }

    .PlotToolbar #attackarrow span {
        background: url(../images/attackarrow.png) no-repeat;
    }

    .PlotToolbar #tailedattackarrow span {
        background: url(../images/tailedattackarrow.png) no-repeat;
    }

    .PlotToolbar #squadcombat span {
        background: url(../images/squadcombat.png) no-repeat;
    }

    .PlotToolbar #tailedsquadcombat span {
        background: url(../images/tailedsquadcombat.png) no-repeat;
    }

    .PlotToolbar #color span {
        background: url(../images/color.png) no-repeat;
    }

    .PlotToolbar #clear span {
        background: url(../images/clear.png) no-repeat;
    }
