<div class="${baseClass}" data-dojo-attach-event="click:_onClick">
    <ul>
        <li id="arc" title="弧线">
            <span/>
        </li>
        <li id="curve" title="曲线">
            <span/>
        </li>
        <li id="circle" title="圆">
            <span/>
        </li>
        <li id="ellipse" title="椭圆">
            <span/>
        </li>
        <li id="lune" title="弓形">
            <span/>
        </li>
        <li id="sector"  title="扇形">
            <span/>
        </li>
        <li id="closedcurve" title="曲面线">
            <span/>
        </li>
        <li id="gatheringplace" title="集结地">
            <span/>
        </li>
        <li id="doublearrow" title="钳击">
            <span/>
        </li>
        <li id="straightarrow" title="直箭头">
            <span/>
        </li>
        <li id="finearrow" title="细直箭头">
            <span/>
        </li>
        <li id="assaultdirection" title="突击方向">
            <span/>
        </li>
        <li id="attackarrow" title="进攻方向">
            <span/>
        </li>
        <li id="tailedattackarrow" title="进攻方向(尾)">
            <span/>
        </li>
        <li id="squadcombat" title="分队战斗行动">
            <span/>
        </li>
        <li id="tailedsquadcombat" title="分队战斗行动(尾)">
            <span/>
        </li>
        <li id="color" title="选择颜色">
            <span/>
        </li>
        <li id="clear" title="清除">
            <span/>
        </li>
    </ul>
    <!--[{name:"弧线",id:"arc",url:"arc.png"},{name:"曲线",id:"curve",url:"curve.png"},{name:"圆",id:"circle",url:"circle.png"},
        {name:"椭圆",id:"ellipse",url:"ellipse.png"},{name:"弓形",id:"lune",url:"lune.png"},{name:"扇形",id:"sector",url:"sector.png"},
        {name:"曲面线",id:"closedcurve",url:"closedcurve.png"},{name:"集结地",id:"gatheringplace",url:"gatheringplace.png"},
        {name:"钳击",id:"doublearrow",url:"doublearrow.png"},{name:"直箭头",id:"straightarrow",url:"straightarrow.png"},
        {name:"细直箭头",id:"finearrow",url:"finearrow.png"},{name:"突击方向",id:"assaultdirection",url:"assaultdirection.png"},
        {name:"进攻方向",id:"attackarrow",url:"attackarrow.png"},{name:"进攻方向(尾)",id:"tailedattackarrow",url:"tailedattackarrow.png"},
        {name:"分队战斗行动",id:"squadcombat",url:"squadcombat.png"},{name:"分队战斗行动(尾)",id:"tailedsquadcombat",url:"tailedsquadcombat.png"},
        {name:"选择颜色",id:"color",url:"color.png"},{name:"清除",id:"clear",url:"clear.png"}];-->
</div>