<div class="${baseClass}">
    <div class="title" data-dojo-attach-point="titleNode"></div>
    <ul data-dojo-attach-point="ulNode">
        <li class="arc" title="弧线" />
        <li class="curve" title="曲线" />
        <li class="circle" title="圆" />
        <li class="ellipse" title="椭圆" />
        <li class="lune" title="弓形" />
        <li class="sector" title="扇形" />
        <li class="closedcurve" title="曲面线" />
        <li class="gatheringplace" title="集结地" />
        <li class="doublearrow" title="钳击" />
        <li class="straightarrow" title="直箭头" />
        <li class="finearrow" title="细直箭头" />
        <li class="assaultdirection" title="突击方向" />
        <li class="attackarrow" title="进攻方向" />
        <li class="tailedattackarrow" title="进攻方向(尾)" />
        <li class="squadcombat" title="分队战斗行动" />
        <li class="tailedsquadcombat" title="分队战斗行动(尾)" />
        <li class="color" title="选择颜色" />
        <li class="clear" title="清除" />
    </ul>
    <div class="colorPicker" data-dojo-type="esri.dijit.ColorPicker" data-dojo-props="showTransparencySlider:false" data-dojo-attach-point="colorPicker"></div>
</div>