<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>arcgis for javascript plot V1.0.0</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <link rel="stylesheet" href="css/plot.css">
    <link rel="stylesheet" href="css/defaults.css">
    <script>
        var dojoConfig = {
            packages: [{
                name: "plot",
                location: "/js/plot"
            }]
        };
    </script>
    <script src="https://js.arcgis.com/3.16/"></script>
    <!--<script src="js/goog.debug.js"></script>-->
    <!--<script src="js/plot.debug.js"></script>-->
    <script src="js/app.js"></script>
</head>
<body>
    <div id="mapDiv"></div>
    <div id="menu">
        <div>
            线标
            <button type="button" id="arc">弧线</button>
            <button type="button" id="curve">曲线</button>
            <button type="button" id="polyline">折线</button>
            <button type="button" id="freehandline">自由线</button>
        </div>
        <div>
            面标
            <button type="button" id="circle">圆</button>
            <button type="button" id="ellipse">椭圆</button>
            <button type="button" id="lune">弓形</button>
            <button type="button" id="sector">扇形</button>
            <button type="button" id="closedcurve">曲线面</button>
            <button type="button" id="polygon">多边形</button>
            <button type="button" id="freehandpolygon">自由面</button>
            <button type="button" id="gatheringplace">聚集地</button>
        </div>
        <div>
            箭头
            <button type="button" id="doublearrow">钳击</button>
            <button type="button" id="straightarrow">直箭头</button>
            <button type="button" id="finearrow">细直箭头</button>
            <button type="button" id="assaultdirection">突击方向</button>
            <button type="button" id="attackarrow">进攻方向</button>
            <button type="button" id="tailedattackarrow">进攻方向（尾）</button>
            <button type="button" id="squadcombat">分队战斗行动</button>
            <button type="button" id="tailedsquadcombat">分队战斗行动（尾）</button>
        </div>
    </div>
    <div id="delete-wrapper">
        <div id="btn-delete" style="display:none;">删 除</div>
    </div>
</body>
</html>