<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>arcgis for javascript plot V1.0.0</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <link rel="stylesheet" href="css/plot.css">
    <link rel="stylesheet" href="css/defaults.css">
    <script>
        var dojoConfig = {
            packages: [{
                name: "plot",
                location: "/js/plot"
            }]
        };
    </script>
    <script src="https://js.arcgis.com/3.16/"></script>
    <!--<script src="js/goog.debug.js"></script>-->
    <!--<script src="js/plot.debug.js"></script>-->
    <script src="js/app.js"></script>
</head>
<body>
    <div id="mapDiv"></div>
    <div id="menu">
        <div>
            线标
            <button type="button" onclick="activate(plotTypes.ARC)">弧线</button>
            <button type="button" onclick="activate(plotTypes.CURVE)">曲线</button>
            <button type="button" onclick="activate(plotTypes.POLYLINE)">折线</button>
            <button type="button" onclick="activate(plotTypes.FREEHAND_LINE)">自由线</button>
        </div>
        <div>
            面标
            <button type="button" onclick="activate(plotTypes.CIRCLE)">圆</button>
            <button type="button" onclick="activate(plotTypes.ELLIPSE)">椭圆</button>
            <button type="button" onclick="activate(plotTypes.LUNE)">弓形</button>
            <button type="button" onclick="activate(plotTypes.SECTOR)">扇形</button>
            <button type="button" onclick="activate(plotTypes.CLOSED_CURVE)">曲线面</button>
            <button type="button" onclick="activate(plotTypes.POLYGON)">多边形</button>
            <button type="button" onclick="activate(plotTypes.FREEHAND_POLYGON)">自由面</button>
            <button type="button" onclick="activate(plotTypes.GATHERING_PLACE)">聚集地</button>
        </div>
        <div>
            箭头
            <button type="button" onclick="activate(plotTypes.DOUBLE_ARROW)">钳击</button>
            <button type="button" onclick="activate(plotTypes.STRAIGHT_ARROW)">直箭头</button>
            <button type="button" onclick="activate(plotTypes.FINE_ARROW)">细直箭头</button>
            <button type="button" onclick="activate(plotTypes.ASSAULT_DIRECTION)">突击方向</button>
            <button type="button" onclick="activate(plotTypes.ATTACK_ARROW)">进攻方向</button>
            <button type="button" onclick="activate(plotTypes.TAILED_ATTACK_ARROW)">进攻方向（尾）</button>
            <button type="button" onclick="activate(plotTypes.SQUAD_COMBAT)">分队战斗行动</button>
            <button type="button" onclick="activate(plotTypes.TAILED_SQUAD_COMBAT)">分队战斗行动（尾）</button>
        </div>
    </div>
    <div id="delete-wrapper">
        <div id="btn-delete" style="display:none;">删 除</div>
    </div>
</body>
</html>